
.login {
  width: 100vw;
  height: 100vh;
  background-color: #cbcdcf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 50%;
  height: 70%;
  display: flex;
}